altgraph==0.17.5
future==1.0.0
iniconfig==2.3.0
macholib==1.16.4
packaging==26.0
pefile==2024.8.26
pillow==12.1.1
pluggy==1.6.0
pygame==2.6.1
pygame-menu==4.5.2
Pygments==2.19.2
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.0
pyperclip==1.11.0
pytest==9.0.2
pywin32-ctypes==0.2.3
typing_extensions==4.15.0
